### Day 1

In [1]:
print("hello world")

hello world

In [2]:
#constants---the value which will not change
#variable---the value which will change
#datatype---int,float,string,boolean etc
a="hii"
print(a)
#to check the data type---type()
print(type(a))

hii
<class 'str'>

In [3]:
#check the length ---len()
b='good morning'
print(len(b))

12

In [4]:
print("the sentence is ",b)
#formatting
print(f"the sentence is {b}")

the sentence is  good morning
the sentence is good morning

In [5]:
#indexing--retriving single element
#2 types--positive indexing and negative indexing
a='hello world'
print(a[1]) #positive
print(a[-10]) #negative
print(a[0])

e
e
h

In [6]:
#slicing--retriving multiple elements
#2 types--positive slicing and negative slicing
#start:stop:step size(not mandatory)
a='hello world'
print(a[0:5])
print(a[:5])
print(a[6:11])
print(a[6:])
print(a[6:9])
print(a[-11:-6])
print(a[-5:])

hello
hello
world
world
wor
hello
world

In [7]:
b='good morning world'
print(b[0:4:3])
print(b[5:12:2])
print(b[13:])
print(b[17:12:-1])
print(b[-1:-6:-2])
print(b[-7:-14:-1])
print(b[-7:-14:-2])
print(b[-1::-1])

gd
mrig
world
dlrow
drw
gninrom
girm
dlrow gninrom doog

#### Day 2

x="Like many other popular programming languages,strings in Python are arrays of bytes
represen􀆟ng unicode characters.Square brackets can be used to access elements of the string."
Extract following words using slicing
1. programming languages
2. represen􀆟ng unicode
3. Srrecbs
4. lgg,rg
print whole sentence in reverse order

In [8]:
x="Like many other popular programming languages,strings in Python are arrays of bytes representing unicode characters.Square brackets can be used to access elements of the string."
print(x[24:45])

programming languages

In [9]:
print(x[84:104])

representing unicode

In [10]:
print(x[116:144:4])

Srrecbs

In [11]:
print(x[36:54:3])

lgg,rg

In [12]:
print(x[::-1])

.gnirts eht fo stnemele ssecca ot desu eb nac stekcarb erauqS.sretcarahc edocinu gnitneserper setyb fo syarra era nohtyP ni sgnirts,segaugnal gnimmargorp ralupop rehto ynam ekiL

### Day 3

In [13]:
#bool
a=True
b=False
print(a)
print(type(a))

True
<class 'bool'>

### lists

In [14]:

#collection of elements,where elements can be of diff data types
#ordered collection (can be indexed and sliced)
#can be changed, can have duplicates
lst=[1,23.89,True,"hello",1,1,1]
print(lst)
print(type(lst))
print(len(lst))
#changing the element
lst[3]="hi"
print(lst)

[1, 23.89, True, 'hello', 1, 1, 1]
<class 'list'>
7
[1, 23.89, True, 'hi', 1, 1, 1]

In [15]:
#task 6/2/2026
# built in function is list

### tuple

In [16]:

# collections of elements,where of diff data types can be stored in tuple
# ordered collection (can be indexed and sliced)
# cannot be changed
# can have duplicates
tpl=(3,24.5,False,"hello","hello")
print(tpl)
print(type(tpl))
print(len(tpl))
#tpl[3]="hi" #cannot be changed

(3, 24.5, False, 'hello', 'hello')
<class 'tuple'>
5

In [17]:
#task 6/2/2026 -2
#working on tuple methods

### Sets

In [18]:
#collection oof elements,where you can store elements of diff data types
#unordered collection 
#no duplicates
#no changing of values in sets
st={4,34.5,"hello",False,False} #no duplicates
print(st) #unordered
print(type(st))
print(len(st))
#st[3]="hi" #no changing

{False, 34.5, 'hello', 4}
<class 'set'>
4

### Dictionary

In [19]:
# collection of elements, where the elements are stored in key and value pairs
# key and value pairs
# key should be unique
# value can be of any data types
# ordered collection
# can be changed 
# no duplicates
dict={"name":"test","age":45,
      "address":["mangaluru","udupi"],
      "tel":{234576690},
      "tel":{234576690},#no duplicates
      "qualification":{"ug":"bca","pg":"mca"}}
print(dict)
print(type(dict))
print(len(dict))
print(dict["address"])
dict["age"]=56
print(dict)
#print the values : mca,mangaluru
print(dict["qualification"]["pg"])
print(dict["address"][0])

{'name': 'test', 'age': 45, 'address': ['mangaluru', 'udupi'], 'tel': {234576690}, 'qualification': {'ug': 'bca', 'pg': 'mca'}}
<class 'dict'>
5
['mangaluru', 'udupi']
{'name': 'test', 'age': 56, 'address': ['mangaluru', 'udupi'], 'tel': {234576690}, 'qualification': {'ug': 'bca', 'pg': 'mca'}}
mca
mangaluru

In [20]:
#task 6/2/2026 -3
#work on sets and dictionary methods

### Indexing and Slicing

In [21]:
lst=["apple","banana","cherry","kiwi","mango","blueberry","strawberry","peach","watermelon","orange"]
#try with both positive and negative index
#print the below
#mango
print(lst[4])
print(lst[-6])
#orange
print(lst[9])
print(lst[-1])
#[banana,cherry,kiwi]
print(lst[1:4])
print(lst[-9:-6])
#[apple,cherry,mango,strawberry]
print(lst[0:7:2])
print(lst[-10:-3:2])
#[kiwi,peach]
print(lst[3::4])
print(lst[-7:-2:4])
#reverse all the elements
print(lst[::-1])
#[mango,kiwi,cherry]
print(lst[4:1:-1])
print(lst[-6:-9:-1])
#[orange,peach,blueberry]
print(lst[9:4:-2])
print(lst[-1:-6:-2])

mango
mango
orange
orange
['banana', 'cherry', 'kiwi']
['banana', 'cherry', 'kiwi']
['apple', 'cherry', 'mango', 'strawberry']
['apple', 'cherry', 'mango', 'strawberry']
['kiwi', 'peach']
['kiwi', 'peach']
['orange', 'watermelon', 'peach', 'strawberry', 'blueberry', 'mango', 'kiwi', 'cherry', 'banana', 'apple']
['mango', 'kiwi', 'cherry']
['mango', 'kiwi', 'cherry']
['orange', 'peach', 'blueberry']
['orange', 'peach', 'blueberry']

### Day 4

### Built in function is list

In [22]:
#len(list): Returns the number of items.
nums=[1,2,3,4,56,78,2,9,21]
print(len(nums))

9

In [23]:
#sorted(list): Returns a new sorted list (leaves the original unchanged).
print(nums)
sorted_nums=sorted(nums)
print(sorted_nums)

[1, 2, 3, 4, 56, 78, 2, 9, 21]
[1, 2, 2, 3, 4, 9, 21, 56, 78]

In [24]:
#max(list) / min(list): Returns the largest / smallest item.
print(max(nums))
print(min(nums))

78
1

In [25]:
#sum(list): Sums all numbers in the list.
print(sum(nums))

176

In [26]:
#any(list): Returns True if at least one element is True.
print(any([False,0]))
print(any([-1,98]))

False
True

In [27]:
#all(list): Returns True only if all elements are True.
print(all([True,4,-1,78]))
print(all([False,"hi"]))

True
False

In [28]:
#enumerate(list): Adds a counter to an iterable and returns it as an enumerate object.
Fruit_lst=["apple","banana","cherry","kiwi","mango","blueberry"]
for index,value in enumerate(Fruit_lst):
    print(index,value)

0 apple
1 banana
2 cherry
3 kiwi
4 mango
5 blueberry

In [29]:
#list(iterable): Converts an iterable (like a tuple or string) into a list.
tup=(1,2,3,4,5)
lst_num=list(tup)
lst_num

[1, 2, 3, 4, 5]

In [30]:
stt={1,2,3,4,5}
lst_num=list(stt)
lst_num

[1, 2, 3, 4, 5]

In [31]:
dict={"id":1,"name":"bless","marks":50}
lst=list(dict)
lst

['id', 'name', 'marks']

In [32]:
#zip(list1, list2): Combines elements from two lists into pairs.
names=['Ram',"Shiny","Rita"]
age=[10,20,30]
combine=list(zip(names,age))
print(combine)

[('Ram', 10), ('Shiny', 20), ('Rita', 30)]

### List Methods

In [33]:
#append(x): Adds an item to the end of the list.
names=["eleven","will","mike"]
names.append('dustin')
print(names)

['eleven', 'will', 'mike', 'dustin']

In [34]:
#extend(iterable): Adds all items from another list (or any iterable) to the end.
more_names=['lukas','max']
names.extend(more_names)
names

['eleven', 'will', 'mike', 'dustin', 'lukas', 'max']

In [35]:
#insert(i, x): Inserts an item at a specific position.
names.insert(1,'Ericka')
print(names)

['eleven', 'Ericka', 'will', 'mike', 'dustin', 'lukas', 'max']

In [36]:
#remove(x): Removes the first item with the specified value.
names.remove("mike")
names

['eleven', 'Ericka', 'will', 'dustin', 'lukas', 'max']

In [37]:
#pop([i]): Removes and returns the item at the given index. If no index is given, it removes the last item.
item=names.pop(2)
print(item)
print(names)

will
['eleven', 'Ericka', 'dustin', 'lukas', 'max']

In [38]:
names.clear()
print(names)

[]

In [39]:
#index(x, [start, end]): Returns the index of the first item with the specified value.
numbers=[9,6,2,7,3,2,1,0]
position=numbers.index(2)
position

2

In [40]:
#count(x): Returns the number of times x appears in the list.
count=numbers.count(2)
count

2

In [41]:
#sort(key=None, reverse=False): Sorts the list in place (modifies the original list).
numbers.sort()
print(numbers)
#reverse(): Reverses the elements of the list in place.
numbers.reverse()
print(numbers)
#copy(): Returns a shallow copy of the list.
fruits = ['apple', 'banana']
new_list = fruits.copy()
print(new_list)

[0, 1, 2, 2, 3, 6, 7, 9]
[9, 7, 6, 3, 2, 2, 1, 0]
['apple', 'banana']

### Tuple Methods

In [42]:
#count(x)	Returns the number of times x appears in the tuple.
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))
#index(x)	Returns the index of the first item with value x. Raises ValueError if not found.
print(my_tuple.index(3))

3
2

In [43]:
#Built-in Functions for Tuples
#Returns the number of items.
print(len(my_tuple))

#Returns the largest item.
print(max(my_tuple))

#Returns the smallest item.
print(min(my_tuple))

#Sums all numbers in the tuple.
print(sum(my_tuple))

#Returns a new sorted list from the tuple (does not modify original).
print(sorted(my_tuple))

#Converts a list or string into a tuple.
lst=[1,2,3,4,5]
tup_num=tuple(lst)
print(tup_num)

#Returns True if any element is true.
print(any((0, False, 1)))

#Returns True if all elements are true.
print(all((1, True, "Hi")))
print(all((1, False, "Hi")))

6
4
1
14
[1, 2, 2, 2, 3, 4]
(1, 2, 3, 4, 5)
True
True
False

### Sets and Dictionary Methods

In [44]:
set_num1={9,8,7,0,2,1,4}
#add(x) Adds an element x to the set.
set_num1.add(3)
print(set_num1)

#remove(x) Removes x. Raises KeyError if not found.
set_num1.remove(8)
print(set_num1)

#discard(x)	Removes x. Does not raise error if missing.
set_num1.discard(5)
print(set_num1)

#pop()	Removes and returns a random element.
set_num1.pop()
print(set_num1)

set_num2={10,20,9}
#union(other)	Returns a new set with elements from both sets.
print(set_num1.union(set_num2))

#intersection(other)	Returns a new set with elements common to both.
print(set_num1.intersection(set_num2))

#difference(other)	Returns elements in the first set but not the second.
print(set_num1.difference(set_num2))

#symmetric_difference(other)	Returns elements in either set, but not both.
print(set_num1.symmetric_difference(set_num2))

#clear()	Removes all elements.
print(set_num1.clear())

{0, 1, 2, 3, 4, 7, 8, 9}
{0, 1, 2, 3, 4, 7, 9}
{0, 1, 2, 3, 4, 7, 9}
{1, 2, 3, 4, 7, 9}
{1, 2, 3, 4, 7, 9, 10, 20}
{9}
{1, 2, 3, 4, 7}
{1, 2, 3, 4, 7, 10, 20}
None

### Built-in Functions for Sets

In [45]:
A = {1,4,3,2}
# len(set)	Returns the number of unique items.
print(len(A))

#max(set) / min(set)	Largest / Smallest item.
print(max(A))
print(min(A))

#sum(set)	Sum of all elements.
print(sum(A))

#sorted(set)	Returns a sorted list of the set's elements.
print(sorted(A))

#set(iterable)	Converts a list/tuple to a set (removes duplicates).
lst=[5,6,8]
stt=set(lst)
print(stt)

4
4
1
10
[1, 2, 3, 4]
{8, 5, 6}

### Dictionary Methods

In [46]:
student_scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'John':34}
#keys()	Returns a view object of all keys.
print(student_scores.keys())

#values()	Returns a view object of all values.
print(student_scores.values())

#items()	Returns a view object of all (key, value) pairs.
print(student_scores.items())

#get(key, [default])	Returns value for key. Returns None (or default) if missing.
print(student_scores.get("Alice",'not found'))

#update(other)	Updates the dictionary with pairs from another dict or iterable.
student_scores.update({'Charlie':87})
print(student_scores)

#pop(key)	Removes key and returns its value.
print(student_scores.pop('Alice'))

#popitem()	Removes and returns the last inserted (key, value) pair.
last_item = student_scores.popitem() 
print(f"Popped Last Item: {last_item}")
print(f"Dict after popitem: {student_scores}")

#setdefault(key, default)	Returns value of key if present; otherwise inserts key with default value.
val = student_scores.setdefault('Eve', 70) # 'Eve' didn't exist, so she is added
val_existing = student_scores.setdefault('Bob', 0) # 'Bob' exists, so 0 is IGNORED
print(f"After setdefault('Eve'): {student_scores}")
print(f"Result of setdefault('Bob'): {val_existing}\n")

dict_keys(['Alice', 'Bob', 'Charlie', 'John'])
dict_values([85, 92, 78, 34])
dict_items([('Alice', 85), ('Bob', 92), ('Charlie', 78), ('John', 34)])
85
{'Alice': 85, 'Bob': 92, 'Charlie': 87, 'John': 34}
85
Popped Last Item: ('John', 34)
Dict after popitem: {'Bob': 92, 'Charlie': 87}
After setdefault('Eve'): {'Bob': 92, 'Charlie': 87, 'Eve': 70}
Result of setdefault('Bob'): 92

In [48]:
del dict

### Built-in Functions for Dictionaries

In [49]:
scores = {'Charlie': 78, 'Bob': 92,'Alice': 85, 'John':34}

#len(dict) Returns the number of key-value pairs.
print(len(scores))

#sorted(dict) Returns a sorted list of the KEYS.
print(sorted(scores))

#dict(iterable) Creates a dictionary from a list of (key, value) tuples.
print(dict(scores.items()))

#list(dict) Returns a list of the keys.
print(list(scores))

4
['Alice', 'Bob', 'Charlie', 'John']
{'Charlie': 78, 'Bob': 92, 'Alice': 85, 'John': 34}
['Charlie', 'Bob', 'Alice', 'John']